body {
    color: #000;
    line-height: 1.8;
    background-color: #fff;
    letter-spacing: .08rem;
    font-family: open sans, helvetica neue, Helvetica, arial, sans-serif;
}

h1 {
    font-weight: 300;
    font-size: 2.5rem;
    margin: 0px auto;
}

h2 {
    color: #7892B6;
    font-size: 1.5rem;
    font-weight: 500;
}

canvas {
    border: 1px solid #666;
}

header {
    background: #7892B6 url(/static/images/bg.png) repeat;
    padding: 50px;
}

main {
    padding-top: 30px;
}

footer {
    margin-top: 20px;
}

.navbar  {
  background: #7892B6 url(/static/images/bg.png) repeat;
}