<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nebulas Notarizer</title>
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-4.0.0.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" type="text/css">
</head>
<body>
    <header>
        <div class="container">
            <div class="text-center">
                <div class="col-12">
                    <h1 class="display-3 text-capitalize">Nebulas Notarizer</h1>
                    <p class="lead text-muted">Written forever.</p>
                </div>
            </div>
        </div>
    </header>

    <main role="main">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <nav class="navbar navbar-expand-md my-3 navbar-light">
            <div class="container">
                <div class="collapse navbar-collapse text-center justify-content-end" id="navbarLightSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item mx-1">
                            <a class="nav-link" href="mailto:master@fordina.com"><i class="fa d-inline fa-envelope"></i>
     For questions, email master@fordina.com</a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link" href="https://t.me/xess777"><i class="fa d-inline fa-telegram"></i> Telegram</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </footer>

    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/popper-1.12.9.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-4.0.0.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/sha256.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/nebPay.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>
</html>